<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>Dear <%= @invitee_email %>,</p>   
    <br />
    <p><%= @invitor_name.titleize %> has invited you to join the Klipt topic <%= link_to @topic.name, topic_url(@topic) %></p>
    <br/>
    <p>Klip away!</p>
    <br />
    <p>-Klipt Team-</p>
  </body>
</html>
