<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>Hi,</p>   
    <br />
    <p><%= @commentor_name.titleize %> has posted a new comment to the topic <%= link_to @topic.name, topic_url(@topic) %></p>
    <br/>
    <p>Klip away!</p>
    <br />
    <p>-Klipt Team-</p>
  </body>
</html>
