<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>Dear <%= @user_name %>,</p>   
    <br />
    <p>Welcome to Klipt! Klipt makes it easy for you to share and collaborate on your online research.</p>
    <br/>
    <p>Get started by creating a Topic at <%= link_to "Your Dashboard", home_dashboard_url %> and inviting friends to join in on the discussion.</p>
    <br />
    <p>Have fun!</p>
    <br />
    <p>-Klipt Team-</p>
  </body>
</html>
