<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
  </head>
  <body>
    <p>Dear <%= @invitee_email %>,</p>   
    <br />
    <p><%= @invitor_name  %> has invited you to the Klipt topic <%= @topic.name  %></p>
    <br/>
    <p>Sign up at <%= link_to "Sign up", root_url %> to contribute your ideas and findings.</p>
    <br />
    <p>Happy Klipping!</p>
    <br />
    <p>-Klipt Team-</p>
  </body>
</html>
