<div class="content clearfix">

	<div class="about-klipt">
		<h3>What is Klipt?</h3>
		
		<h4>Klipt is a place to lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</h4>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
		
		<div class="content-divider"></div>
		
		<h3>Copyrights</h3>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
	
	</div> <!-- About klipt section ends -->
	
	<div class="social-klipt">
		<h3>Keep in track</h3>
		
		<p>We share all the recent news about klipt on some of the social networks...</p>
		
		<div><a href="#" class="content-btn"><i class="btn-icon facebook-i"></i> Facebook </a></div>
		<div><a href="#" class="content-btn"><i class="btn-icon twitter-i"></i> Twitter </a></div>
	</div>
</div> <!-- Content Ends -->