<div class="content clearfix">
   <div class="bookmarklet-klipt about-klipt">
      <h3>Using the Bookmarklet</h3>  
      <p>The Klipt Bookmarklet lets you quickly add links to your topics, cool?</p>
      <p>To use Klipt Bookmarklet, the first thing you need to do is 
      display your browser's <strong>Bookmarks Bar</strong> by doing:</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Firefox: View > Toolbars > Bookmarks Toolbar</strong></p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <strong>Chrome: "Wrench Icon" > Bookmarks > Show bookmarks bar</strong></p>

        <p>Now, just <strong>drap</strong> the yello button on the right to your Bookmark Bar.</p>
   </div>
   <div class="drag-klipt social-klipt">
      <h3>Drag This to your Bookmarks Bar</h3>  
      <div><a href="<%= @bookmarklet_js %>" class="new-topic-btn bookmarklet">Klipt</a></div>
   </div>
</div>
