- content_for :main_col do
  %h3 +New Topic
  = render 'topics/form'

- content_for :side_col do
  %section
    - 5.times do |n|
      %article
        %header
          %h1 comments #{n}
        %p
          Lorem ipsum dolor sit amet, quam risus, vestibulum donec, 
          diam pede ridiculus volutpat vivamus dolor et. Tempor et 
          sint sapien mattis, sed dapibus facilisi tellus in
