
body {
	font-family: Arial, Helvetica, sans-serif;
	background:url(body-bg.jpg);
	
}

/******** INTRO ********/

body#intro {
	background:url(intro/body-bg.jpg) center top fixed no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
}

body#intro #header {
	min-width: 760px;
	
}

body#intro .header-container {
	width: 760px;
	
}

body#intro #header #logo {
	left: 0 !important;
	margin: 0 !important;
	
}

body#intro #header ul {
  float: left;
  color: #fff;
  font-size: 14px;
  margin: 20px 0 0 200px;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}



body#intro #header ul li {
  display: inline;
  margin-right: 15px;
}

body#intro #header ul li a.active {
  color: #ffcc4c;
}


body#intro #header .login-btn {
	color: #333;
	padding: 7px 12px 9px 12px;
	height: 16px;
	margin-top: 12px;
	margin-left: 10px;
	float: right;	
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	
	text-shadow: 0 1px #fff;	
	
	position: relative;
}

body#intro #header .login-btn:hover {
	background: #ffe693; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe693 0%, #ffca60 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe693), color-stop(88%,#ffca60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* IE10+ */
	background: linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe693', endColorstr='#ffca60',GradientType=0 ); /* IE6-9 */
		
}

body#intro .content {
	width: 760px;
	margin-top: -70px;
	z-index: -100;
	position: relative;
		
}

body#intro .content .intro-content {
	width: 680px;
	padding: 90px 40px 40px 40px;
	background:url(intro/content-bg.jpg) repeat;
	box-shadow: 0 0 25px #000;
	position: absolute;
	top: 0;
	left: 0;
		
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;	
}

body#intro .content .intro-text {
	float: left;
	width: 290px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}

body#intro .content .intro-text h1 {
	font-size: 32px;
	font-weight: bold;
	
}

body#intro .content .intro-text p {
	font-size: 14px;
	line-height: 24px;
	margin-top: 15px;
	color: #bdb6ad;
}

body#intro .content .intro-signup {
	width: 290px;
	float: right;
	color: #fff;
	padding-left: 40px;
	background:url(intro/border.png) repeat-y left top;
	
}

body#intro .content .intro-signup h2 {
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 5px;
	text-shadow: 0 1px 1px #000;
	
}

body#intro .content .intro-signup h2 span { color: #e4a623; }

body#intro .content .intro-signup form div {
	padding-top: 15px;
	
}

body#intro .content .intro-signup form label {
	width: 100%;
	color: #bdb6ad;
	font-size: 14px;
	font-weight: bold;
	float: left;
	margin-bottom: 8px;
	text-shadow: 0 1px 1px #000;
	
}

body#intro .content .intro-signup form input {
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	width: 270px;
	padding: 10px;
	border: none;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

body#intro .content .intro-signup form input:hover {
	box-shadow: 0 0 5px #fff;
}

body#intro .content .intro-signup form input:focus {
	box-shadow: 0 0 15px #fff;
	color: #333;
	
}

body#intro .content .intro-signup form .signup-form-button {
	color: #333;
	padding: 7px 0 9px 0;
	height: 32px;
	width: 290px;
	
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	text-shadow: 0 1px #fff;	
	cursor: pointer;
	display: block;
	float: left;
}

body#intro .content .intro-signup form .signup-form-button:hover {
	background: #ffe693; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe693 0%, #ffca60 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe693), color-stop(88%,#ffca60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* IE10+ */
	background: linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe693', endColorstr='#ffca60',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0 0 10px #ffdc66;
		
}

body#intro .content .intro-signup form .error-message {
	width: 270px;
	float: left;
	margin-bottom: 10px;
	font-size: 12px;
	color: #bdb6ad;
	text-shadow: 0 1px 1px #000;
	padding: 10px;
	background: #413a2f;
	border-bottom: solid 1px #5f5445;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

body#intro .content .intro-signup form .error-message i.icon.error-i {
	width: 18px;
	height: 16px;
	background-position: -152px 0;
	float: left;
	margin-right: 5px;
	margin-top: -1px;
	
}

body#intro .pop-content-form div.remember-login {
	padding: 5px 0 0 0 !important;
	
}

body#intro .pop-content-form div.remember-login input {
	width: 16px;
	
}

body#intro .pop-content-form div.remember-login p {
	display: inline;
	color: #999;
	font-weight: bold;
	font-size: 12px;
	
}

body#intro .content .intro-content.how {
	background: #fff;
	
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-o-border-radius: 0px;
	border-radius: 0px;
	
	box-shadow: none;
}

body#intro .content .intro-content.how .intro-text {
	width: 100%;
	text-align: center;
	text-shadow: none;
	color: #aaa;
	font-size: 24px;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: dashed 1px #ccc;
	letter-spacing: -1px;
}

body#intro .content .intro-content.how .intro-feature {
	width: 100%;
	padding-bottom: 40px;
	margin-bottom: 40px;
	border-bottom: dashed 1px #ccc;
	
}

body#intro .content .intro-content.how .intro-feature .intro-feature-text {
	width: 340px;
	line-height: 28px;
}

body#intro .content .intro-content.how .intro-feature .intro-feature-text b {
	padding-bottom: 20px;
	float: left;
	color: #444;
	font-size: 30px;
	letter-spacing: -1px;
	
}

body#intro .content .intro-content.how .intro-feature .intro-feature-text p {
	font-size: 16px;
	float: left;
	color: #777;
	
}

body#intro .content .intro-content.how .intro-feature .intro-feature-text {
	float: right;
	
}

body#intro .content .intro-content.how .intro-feature img {
	float: left;
	
}

body#intro .content .intro-content.how .outro-block {
	width: 100%;
	margin: 0;
	padding: 0;
	
}

body#intro .content .intro-content.how .outro-block div {
	float: left;
	margin-left: 160px;
}

body#intro .content .intro-content.how .outro-block .signup-btn {
	color: #fff;
	padding: 10px 0 10px 0;
	width: 150px;
	text-align: center;
	border: solid 1px #3a6915;
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #8cae32 0%, #4b891a 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8cae32), color-stop(75%,#4b891a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8cae32 0%,#4b891a 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8cae32 0%,#4b891a 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8cae32 0%,#4b891a 75%); /* IE10+ */
	background: linear-gradient(top,  #8cae32 0%,#4b891a 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8cae32', endColorstr='#4b891a',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	text-shadow: 0 1px #385f13;	
	cursor: pointer;
	display: block;
	float: left;
}

body#intro .content .intro-content.how .outro-block .signup-btn:hover {
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #a4cd3b 0%, #58a11f 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4cd3b), color-stop(75%,#58a11f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a4cd3b 0%,#58a11f 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a4cd3b 0%,#58a11f 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a4cd3b 0%,#58a11f 75%); /* IE10+ */
	background: linear-gradient(top,  #a4cd3b 0%,#58a11f 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4cd3b', endColorstr='#58a11f',GradientType=0 ); /* IE6-9 */
		
}

body#intro .content .intro-content.how .outro-block .login-btn {
	color: #333;
	padding: 10px 0 10px 0;
	width: 150px;
	text-align: center;
	border: solid 1px #835e0c;
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	text-shadow: 0 1px #fff;	
	cursor: pointer;
	display: block;
	float: left;
}

body#intro .content .intro-content.how .outro-block .login-btn:hover {
	background: #ffe693; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe693 0%, #ffca60 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe693), color-stop(88%,#ffca60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* IE10+ */
	background: linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe693', endColorstr='#ffca60',GradientType=0 ); /* IE6-9 */
			
}

body#intro .content .intro-content.how .outro-block span {
	float: left;
	margin: 10px 21px;
	color: #aaa;
	
}
/******** INTRO ENDS ********/

/******** LOGGED IN ********/

a { color: inherit; }
a:hover { color: #e4a623; }
a.new-topic-btn:hover { color: #222 }

/** clearfix **/

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

/** clearfix end **/

/****** General ******/

.content-divider {
	width: 100%;
	height: 1px;
	background:url(horizontal-stitched-border.png) repeat-x;
	
}

div#header {
	width: 100%;
	height: 93px;
	display: block;
	background: url(header-bg.png) repeat-x ;
	
}

i.btn-icon,
i.icon {
	background: url(icons.png) no-repeat ;
	display: block;
	float: left;
	width: 16px;
	height: 17px;
	
}

i.btn-icon {
	margin-right: 5px;
	
	position: absolute; top: 50%; margin-top: -8px; left: 10px;
	
}

i.btn-icon.arrow { right: 5px; left: auto; }

.new-topic-btn {
	color: #333;
	padding: 7px 12px 9px 32px;
	height: 16px;
	
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	
	text-shadow: 0 1px #fff;	
	
	position: relative;
}

.new-topic-btn:hover {
	background: #ffe693; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe693 0%, #ffca60 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe693), color-stop(88%,#ffca60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* IE10+ */
	background: linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe693', endColorstr='#ffca60',GradientType=0 ); /* IE6-9 */
		
}

.new-topic-btn i.btn-icon.new-topic-i {
	width: 17px;
	height: 17px;
	background-position: -25px 0;
	
}

.content-btn {
	color: #666;
	padding: 8px 12px 8px 32px;
	height: 16px;
	font-weight: bold;
	font-size: 14px;
	
	cursor: pointer;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #f7f7f7; /* Old browsers */
	background: -moz-linear-gradient(top,  #f7f7f7 0%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* IE10+ */
	background: linear-gradient(top,  #f7f7f7 0%,#ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	
	border: solid 1px #bcbcbc;
	text-shadow: 0 1px 0 #fff;	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.1);
	
	position: relative;
}

.content-btn:hover {
	color: #444;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(89%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	
	border: solid 1px #999;
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
		
}

.content-btn i.btn-icon {
	width: 16px;
	height: 16px;
	
}

/****** General End ******/

/****** Styling pop boxes ******/

.pop-content {
	width: 380px;
	background: #fff;
	
}

.pop-content-container {
	padding: 20px;
	
	
}

.pop-content-header {
	background:url(header-bg.png);
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	padding-bottom: 5px;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
	
}

.pop-content-header .pop-content-container {
	padding-top: 18px;
	
}

.pop-content-form.pop-content-container {
	padding-top: 0;
	padding-bottom: 15px;
	
}

.pop-content-form div {
	padding-top: 15px;
	padding-bottom: 5px;
	
}

.pop-content-form div.content-divider {
	margin: 15px 0 0 0;
	padding: 0;
	display: block;
	
}

.pop-content-form label {
	width: 100%;
	color: #e4a623;
	font-size: 13px;
	font-weight: bold;
	float: left;
	margin-bottom: 10px;
	
}

.pop-content-form label a {
	float: right;
	color: #bbb;
	
}

.pop-content-form label a:hover {
	text-decoration: underline;
	color: #888;
}

.pop-content-form input,
.pop-content-form textarea {
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 320px;
	padding: 10px;
	border: solid 1px #e4e4e4;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.pop-content-form textarea {
	height: 100px;
	min-height: 100px;
	max-height: 150px;
	resize: vertical;
	
}

.pop-content-form input:hover,
.pop-content-form textarea:hover {
	border-color: #bbb;
	
}

.pop-content-form input:focus,
.pop-content-form textarea:focus {
	border-color: #aaa;
	box-shadow: 0 0 5px #ccc;
	color: #333;
	
}

.pop-content-form .pop-content-form-button {
	color: #333;
	padding: 7px 0 9px 0;
	height: 32px;
	width: 90px;
	
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	border: solid 1px #9B731E;
	text-shadow: 0 1px #fff;	
	cursor: pointer;
	display: block;
	float: left;
}

.pop-content-form .pop-content-form-button:hover {
	background: #ffe693; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe693 0%, #ffca60 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe693), color-stop(88%,#ffca60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* IE10+ */
	background: linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe693', endColorstr='#ffca60',GradientType=0 ); /* IE6-9 */
	
	border: solid 1px #9B731E;
		
}

.pop-content-form .error-message {
	width: 230px;
	float: left;
	margin-left: 10px;
	margin-top: 9px;
	font-size: 12px;
	color: #555;
}

.pop-content-form .error-message i.icon.error-i {
	width: 18px;
	height: 16px;
	background-position: -152px 0;
	float: left;
	margin-right: 5px;
	margin-top: -1px;
	
}

.pop-content-form ul.currently-invited-list {
	max-height: 133px;
	width: 100%;
	overflow: auto;
	padding-bottom: 1px;
	
}

.pop-content-form ul.currently-invited-list li {
	font-size: 12px;
	display: block;
	padding: 10px;
	width: 300px;
	border: solid 1px #ccc;
	margin-bottom: -1px;
	color: #666;
	font-weight: bold;
	opacity: 0.5;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.pop-content-form ul.currently-invited-list li:hover { opacity: 1; box-shadow: 0 0 5px #ccc; }

.pop-content-form ul.currently-invited-list li i.icon.user-i {
	width: 17px;
	height: 16px;
	background-position: -41px;
	float: left;
	margin-right: 5px;
	margin-top: -1px;
	
}

/****** Header ******/

#header {
	font-size: 14px;
	font-weight: bold;
	min-width: 960px;
}

.header-container {
	width: 960px;
	margin: 0 auto;
	position: relative;
	
}

#header #topics-quick,
#header #profile {
	width: 230px;
	float: left;
	margin-top: 12px;
	cursor: default;
	
}

#header #topics-quick .topics-btn,
#header #profile .profile-btn {
	color: #222;
	padding: 8px 12px 8px 30px;
	height: 16px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(89%,#e6e6e6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#e6e6e6 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	
	position: relative;
	
}


#header #topics-quick .topics-btn i.btn-icon.topics-i {
	width: 12px;
	height: 16px;
	background-position: 0 0;
	
}

#header #topics-quick .topics-btn i.btn-icon.arrow,
#header #profile .profile-btn i.btn-icon.arrow {
	width: 12px;
	height: 16px;
	background-position: -12px 0;
	
}

#header .new-topic-btn {
	float: left;
	margin: 12px 0 0 10px;
	
}



#header #logo {
	width: 192px;
	height: 93px;
	display: block;
	position: absolute;
	background:url(logo.png);
	top: 0;
	left: 50%;
	margin-left: -96px;
  z-index: 9999;	
}



#header span {
	float: right;
	color: #fff;
	margin: 20px 10px 0 0;
	text-shadow: 0px 1px 5px rgba(0,0,0,0.3);
	
}

#header #profile {
	float: right;
	
}

#header #profile .profile-btn i.btn-icon.user-i {
	width: 16px;
	height: 16px;
	background-position: -42px 0;
	
}

/* Header Dropdowns */

.h-dropdown {
	background: transparent;
	font-size: 12px;
	display: none;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	border: solid 1px #aaa;
	
	z-index: 100;
	position: relative;
	
	position: absolute;
	width: 228px;
	
	
}

#header #topics-quick:hover ul.h-dropdown,
#header #profile:hover ul.h-dropdown { display: block; }

.h-dropdown li {
	
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
		
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top,  #ededed 0%, #dfdfdf 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(88%,#dfdfdf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#dfdfdf 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#dfdfdf 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#dfdfdf 88%); /* IE10+ */
	background: linear-gradient(top,  #ededed 0%,#dfdfdf 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0 ); /* IE6-9 */
	

}


.h-dropdown li:hover {
	
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 89%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(89%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 89%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 89%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 89%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f2f2f2 89%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

.h-dropdown li.last {
	border: none;
	
	background: #cdcdcd; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdcdcd 0%, #c0c0c0 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(87%,#c0c0c0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdcdcd 0%,#c0c0c0 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdcdcd 0%,#c0c0c0 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdcdcd 0%,#c0c0c0 87%); /* IE10+ */
	background: linear-gradient(top,  #cdcdcd 0%,#c0c0c0 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#c0c0c0',GradientType=0 ); /* IE6-9 */
		
}

.h-dropdown li a{
	padding: 10px ;
	display: block;
	color: #666;
	text-shadow: 0 1px 0 #fff;
	border-bottom: solid 1px #aaa;
}

.h-dropdown li a:hover { color: #333; }

.h-dropdown li.last a,
.h-dropdown li.last:hover a { text-align: center; font-size: 14px; border: 0; }

.h-dropdown li a i {
	background: url(icons.png) no-repeat;
	display: block;
	width: 15px;
	height: 16px;
	margin-right: 5px;
	margin-top: -2px;
	
	float: left;
	
}

.h-dropdown li a i.settings-i { background-position: -57px 0 ; }
.h-dropdown li a i.logout-i { width: 15px; background-position: -72px 0 ; margin-left: 2px; }

/* Header Dropdowns End */

/****** Header End ******/

/****** Contents ******/

.content {
	width: 960px;
	margin: 15px auto 30px auto;
	position: relative;
	
}

/* No topics page */

.content-no-topics {
	width: 230px;
	margin-left: -115px;	
	position: absolute;
	left: 50%;

}

.content-no-topics p {
	text-align: center;
	margin-bottom: 20px;
	color: #888;
	font-size: 15px;
	font-weight: bold;
	line-height: 22px;
}

.content-no-topics p b { color: #e4a623; }

.content-no-topics small {
	text-align: center;
	color: #888;
	font-size: 11px;
	font-weight: bold;
	display: block;
	margin-top: 15px;	
}

.content-new-topic {
	width: 230px;
	height: 200px;
	background:url(stitched-border.png) no-repeat center top;
	position: relative;
	
}

.content-new-topic .new-topic-btn {
	position: absolute;
	top: 50%;
	left: 25%;
	margin-top: -16px;
	border: solid 1px #9b731e;
	
}

/* No topics page end */

/* Topics list page */

.content-topics-list {
	width: 100%;
	float: left;
	
}

.topics-list-row {
	float: left;
	width: 102%;
	margin-bottom: 15px;
	
}

.topics-list-item {
	width: 230px;
	float: left;
	margin-right: 13px;
	font-weight: bold;
	font-size: 14px;
	color: #888;
}

.topics-list-item.last-item {
	margin: 0;
	
}

.topics-list-item .topics-list-item-holder {
	background: #fff;
	border: solid 1px #ddd;
	padding: 15px;
	float: left;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.topics-list-item .topics-list-item-holder:hover {
	border-color: #bbb;
	
}

.topics-list-item .topics-list-item-shadow {
	width: 100%;
	background: url(p-topic-box-shadow.png);
	height: 10px;
	float: left;
	
}

.topics-list-item h3 {
	width: 150px;
	float: left;
	font-weight: bold;
	font-size: 16px;
	color: #666;
}

.topics-list-item .count-clips,
.count-invited {
	float: right;
	width: 50px;
}



.topics-list-item .count-clips span,
.count-invited span {
	float: right;
	
}

.topics-list-item i.icon.clip-i {
	float: right;
	width: 11px;
	height: 17px;
	margin-right: 5px; margin-top: -2px;
	background-position: -98px 0;
	
}

.topics-list-item .topic-preview-img-holder {
	width: 200px;
	height: 110px;
	background: #e6e6e6 url(p-img-bg.jpg) center no-repeat;
	float: left;
	margin: 15px 0;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.topics-list-item .count-comments {
	float: left;
	width: 100px;
}

.topics-list-item .count-comments span {
	float: left;
	
}

.topics-list-item i.icon.comment-i {
	float: left;
	width: 18px;
	height: 17px;
	margin-right: 5px; margin-top: -2px;
	background-position: -108px 0;
	
}

.count-invited {
	width: 100px;
	
}

i.icon.users-i {
	float: right;
	width: 18px;
	height: 16px;
	margin-right: 5px; margin-top: -2px;
	background-position: -125px 0;
	
}

.count-invited a.invite-more{
	display: block;
	float: right;
	padding: 2px;
	margin-left: 5px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.count-invited a.invite-more i.icon.more-i{
	background: url(icons.png) no-repeat -142px -4px ;
	display: block;
	
	width: 10px;
	height: 10px;
	
	
}

.count-invited a.invite-more:hover {
	background: #ddd;
	
}
	

.topics-list-item .count-clips,
.topics-list-item .count-invited,
.topics-list-item .count-comments {
	opacity: 0.5;
	
}

.topics-list-item-holder:hover .count-clips,
.topics-list-item-holder:hover .count-invited,
.topics-list-item-holder:hover .count-comments {
	opacity: 1;
	
}

.content-topics-list .content-new-topic .new-topic-btn{
	opacity: 0.3;
	
}

.content-topics-list .content-new-topic:hover .new-topic-btn{
	opacity: 1;
	
}

/** Styling topic page **/

.content-topic-main {
	float: left;
	width: 700px;
	
}

.content-topic-main .topic-page-actions {
	width: 100%;
	
}

.content-topic-main .topic-page-actions a {
	float: right;
	
}

.content-topic-main .topic-page-actions a i.back-i {
	width: 14px;
	background-position: -85px 0;
	
}

.content-topic-main a i.edit-i {
	width: 15px;
	background-position: -178px 0;
	
}

i.delete-i {
	width: 19px;
	background-position: -194px 0;
	
}

.content-topic-main .topic-main-holder {
	padding: 30px;
	background: #fff;
	border: solid 1px #ccc;
	box-shadow: 0 0 10px #ddd;
	margin-top: 15px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	min-height: 760px;
	
}

.topic-main-holder .topic-main-header h2 {
	width: 400px;
	font-size: 20px;
	color: #333;
	font-weight: bold;
	float: left;
	
}

.topic-main-holder .topic-main-header h2 i {
	width: 9px;
	background-position: -169px 0;
	margin-right: 5px;
	margin-top: 2px;
	
}

.topic-main-holder .topic-main-header span {
	font-weight: bold;
	font-size: 12px;
	color: #888;
}

.topic-main-holder .count-invited {
	width: auto;
	
}

.topic-main-holder .topic-author {
	float: right;
	margin-top: 6px;
	margin-right: 15px;
	
}

.topic-main-holder .topic-author span {
	font-size: 12px;
	font-weight: bold;
	color: #888;
	
}

.topic-main-holder .topic-author i {
	width: 17px;
	height: 16px;
	background-position: -41px;
	margin-right: 5px;
	margin-top: -1px;
}

.topic-main-holder .content-divider {
	float: left;
	margin: 15px 0 0 0;
	
}

.topic-main-holder .topic-add-link {	
	width: 100%;
	position: relative;
	float: left;
	margin-top: 15px;
}

.topic-main-holder .topic-add-link input.url-field {
	width: 490px;
	color: #888;
	font-size: 16px;
	font-weight: bold;	
	padding: 12px 135px 12px 12px;
	border: solid 1px #e4e4e4;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.topic-main-holder .topic-add-link:hover input.url-field {
	border-color: #bbb;
	
}

.topic-main-holder .topic-add-link input.url-field:focus {
	border-color: #aaa;
	box-shadow: 0 0 5px #ccc;
	color: #333;
	
}

.topic-main-holder .topic-add-link .content-btn {
	position: absolute;
	height: 32px;
	width: 120px;
	padding: 7px 0 9px 0;
	top: 50%; margin-top: -16px;
	right: 4px;
}

.topic-main-holder .topic-links-list {
	float: left;
	width: 100%;
	height: 620px;
	overflow: auto;
	margin-top: 15px;
	padding-right: 10px;
	
}

.topic-main-holder .topic-links-list ul li {
	display: block;
	float: left;
	width: 100%;
	padding: 15px 0 45px 0;
	background: url(horizontal-stitched-border.png) repeat-x bottom ;
	position: relative
	
}

.topic-main-holder .topic-links-list ul li .link-preview-img-holder {
	width: 150px;
	height: 75px;
	background: #e6e6e6 url(p-img-bg.jpg) center no-repeat;
	float: left;
	overflow: hidden;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.topic-main-holder .topic-links-list ul li .link-preview-img-holder img {
	width: 150px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info {
	float: right;
	width: 465px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-title {
	float: left;
	width: 420px;
	font-size: 16px;
	font-weight: bold;
	color: #666;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-title i {
	width: 11px;
	background-position: -98px 0;
	margin: 8px 7px 8px 9px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-title span {
	float: right;
	width: 380px;
	margin-top: 9px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-note {
	float: left;
	width: 420px;
	font-size: 14px;
	font-weight: normal;
	color: #888;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-note a {
	float: left;
	
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-note a:hover { background: #eee; }

.topic-main-holder .topic-links-list ul li .link-text-info .link-note a i.icon.edit-i {
	width: 16px;
	height: 16px;
	background-position: -178px 0;
	margin: 8px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-note span {
	float: right;
	width: 380px;
	margin-top: 8px;
	line-height: 21px; 
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-posted {
	position: absolute;
	right: 0;
	bottom: 15px;
	font-size: 11px;
	font-weight: bold;
	color: #999;
	display: none;
	
}

.topic-main-holder .topic-links-list ul li:hover .link-text-info .link-posted,
.topic-main-holder .topic-links-list ul li:hover .link-text-info .link-del { display: block; }

.topic-main-holder .topic-links-list ul li .link-text-info .link-posted .link-author {
	float: left;
	margin-right: 20px;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-posted .link-author i {
	width: 17px;
	height: 16px;
	background-position: -41px;
	margin-right: 5px;
	margin-top: -1px;
}
	
.topic-main-holder .topic-links-list ul li .link-text-info .link-posted .link-time {
	float: left;
	
}

.topic-main-holder .topic-links-list ul li .link-text-info .link-posted .link-time i {
	width: 17px;
	height: 16px;
	background-position: -211px;
	margin-right: 5px;
	margin-top: -1px;
}
	
.topic-main-holder .topic-links-list ul li .link-text-info .link-del {
	position: absolute;
	top: 20px;
	right: 0;
	display: none;	
	background: url(icons.png) no-repeat -193px 0 ;
	float: left;
	width: 18px;
	height: 17px;
	
}

/** Topic comments **/

.topic-comments {
	width: 230px;
	float: right;
	margin-top: 50px;
	
}

.topic-comments-header {
	font-size: 14px;
	font-weight: bold;
	color: #888;
	
}

.topic-comments .content-divider {
	margin: 15px 0 0 0;
	float: left;
	
}

.topic-comments-list {
	width: 100%;
	margin-top: 20px;
	width: 220px;
	height: 600px;
	/* max-height: 620px;*/
	overflow: auto;
	padding: 0 10px 1px 0;
	float: left;
}

.topic-comments .topic-comments-list ul {
	float: left;
	margin-top: -15px;
	width: 230px;
}

.topic-comments .topic-comments-list ul li {
	display: block;
	width: 100%;
	float: left;
	padding: 15px 0;
	background: url(horizontal-stitched-border.png) repeat-x bottom ;
	
}

.topic-comments .topic-comments-list ul li:last-child {
	background: none;
	
}

.topic-comments .topic-comments-list ul li .comment-header,
.topic-comments .topic-comments-list ul li p {
	float: left;
	width: 100%;
	font-size: 12px;
	
}

.topic-comments .topic-comments-list ul li .comment-header {
	margin-bottom: 10px;
	font-weight: bold;
	
}


.topic-comments .topic-comments-list ul li .comment-header b {
	color: #e4a623;
	float: left;
}

.topic-comments .topic-comments-list ul li .comment-header span {
	float: right;
	color: #aaa;
	
}

.topic-comments .topic-comments-list ul li p {
	line-height: 20px;
	color: #444;
	
}


.topic-comments textarea {
	width: 206px;
	color: #888;
	font-size: 12px;
	font-weight: normal;	
	font-family: Arial, Helvetica, sans-serif;
	padding: 12px ;
	border: solid 1px #e4e4e4;
	float: left;
	height: 90px;
	resize: none;
	margin-top: 15px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.topic-comments textarea:hover {
	border-color: #bbb;
	
}

.topic-comments textarea:focus {
	border-color: #aaa;
	box-shadow: 0 0 5px #ccc;
	color: #333;
	
}

/* Settings page starts */

.content-settings {
	background: #fff;
	padding: 30px;
	width: 340px;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px #ddd;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	position: absolute;
	top: 0; 
	left: 50%;
	margin-left: -201px;
	
}

.content-settings-header {
	float: left;
	
}

.content-settings form div {
	padding-top: 15px;
	padding-bottom: 5px;
	
}

.content-settings div.content-divider {
	margin: 25px 0;
	padding: 0;
	display: block;
	float: left;
	
}


.content-settings form label {
	width: 100%;
	color: #e4a623;
	font-size: 12px;
	font-weight: bold;
	float: left;
	margin-bottom: 10px;
	
}

.content-settings form input,
.content-settings form textarea {
	color: #888;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	width: 320px;
	padding: 10px;
	border: solid 1px #e4e4e4;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.content-settings form textarea {
	height: 100px;
	min-height: 100px;
	max-height: 150px;
	resize: vertical;
	
}

.content-settings form input:hover,
.content-settings form textarea:hover {
	border-color: #bbb;
	
}

.content-settings form input:focus,
.content-settings form textarea:focus {
	border-color: #aaa;
	box-shadow: 0 0 5px #ccc;
	color: #333;
	
}

.content-settings form .settings-form-button {
	color: #333;
	padding: 7px 0 9px 0;
	height: 32px;
	width: 90px;
	
	font: bold 14px Arial, Helvetica, sans-serif;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
	
	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	border: solid 1px #9B731E;
	text-shadow: 0 1px #fff;	
	cursor: pointer;
	display: block;
	float: left;
}

.content-settings form .settings-form-button:hover {
	background: #ffe693; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffe693 0%, #ffca60 88%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe693), color-stop(88%,#ffca60)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* IE10+ */
	background: linear-gradient(top,  #ffe693 0%,#ffca60 88%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe693', endColorstr='#ffca60',GradientType=0 ); /* IE6-9 */
	
	border: solid 1px #9B731E;
		
}

.content-settings form .error-message {
	width: 230px;
	float: left;
	margin-left: 10px;
	margin-top: 9px;
	font-size: 12px;
	color: #555;
}

.content-settings form .error-message i.icon.error-i {
	width: 18px;
	height: 16px;
	background-position: -152px 0;
	float: left;
	margin-right: 5px;
	margin-top: -1px;
	
}

.content-settings a.content-btn {
	float: left;
	margin: 0;
	
}

/* Styling about Klipt page */

.about-klipt, .bookmarklet-klipt {
	float: left;
	width: 640px;
	padding: 30px;
	background: #fff;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px #ddd;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.bookmarklet-klipt {
  width: 550px;
}

.about-klipt h3 {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.about-klipt h4 {
	width: 100%;
	font-size: 18px;
	line-height: 26px;
	font-weight: normal;
	color: #999;
	margin-top: 15px;
}

.about-klipt p {
	width: 100%;
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	margin-top: 15px;
	color: #666;
}

.about-klipt .content-divider {
	float: left;
	margin: 25px 0;
	
}

.social-klipt, .drag-klipt {
	float: right;
	width: 230px;
	padding-top: 30px;
	
}

.drag-klipt {
  width: 320px;
}

.social-klipt h3 {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: #333;
}

.social-klipt p {
	width: 100%;
	font-size: 12px;
	line-height: 22px;
	font-weight: normal;
	margin: 15px 0;
	color: #666;
}

.social-klipt div {
	float: left;
	width: 100%;
	margin: 0 0 8px 0;
}

.social-klipt div a {
	float: left;
}

.drag-klipt h3 {
  font-size: 18px;
  text-align: center;
}
.drag-klipt div {
  float:none;
  text-align: center;
  margin-top: 35px;
}
.drag-klipt div a {
  float: none;
  font-size: 22px;
  padding: 10px 20px;
  text-align: center;
}

.social-klipt i.facebook-i {
	background-position: -256px 0;
	
}

.social-klipt i.twitter-i {
	background-position: -272px 0;
	
}

.notification {
	position: absolute;
	z-index: 101;
	top: 0;
	left: 0;
	right: 0;
	background: #fde073;
	text-align: center;
	font-size: 16px;
	line-height: 1.8;
	text-shadow: 0 1px white;
	overflow: hidden;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
}

/* not applicable for now */
a#close {
	position: absolute;
	right: 10px;
	top: 9px;
	text-indent: -9999px;
	/*background: url(images/close.png);*/
	height: 16px;
	width: 16px;
	cursor: pointer;
}

.notification-holder {
  position: relative;
	text-align: center;
	height: 30px; /*offset -34px*/
  width: 960px;
  margin: 0 auto;
	margin-top: -34px;
}

#sysNotifications {
  position: absolute;
  top: 5px;
  left: -50px;
  z-index: 9999;
	margin-left: 750px;
	padding: 5px;
	width: 300px;
	background: #fde073;
	font-size: 13px;
	text-shadow: 0 1px white;
	-webkit-box-shadow: 0 0 5px black;
	-moz-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	/*height: 30px;*/
	overflow: hidden;
}

#sysNotifications ul li {
	line-height: 16px;	
	padding-right: 5px;
}

#sysNotifications li span{
  display: inline-block;
  width: 270px;
}


#sysNotifications ul li a.go-nav {
	float:right;
  color: #444;
}

span#next, span#prev {
  cursor: pointer;
  color: #333;
  padding: 5px;
  margin-top: 15px;
  margin-left: 10px;
  float: left;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	box-shadow: 0px 2px 3px rgba(0,0,0,0.25);
	text-shadow: 0 1px #fff;	

  background: #ffdc66; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffdc66 0%, #ffbe36 75%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffdc66), color-stop(75%,#ffbe36)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* IE10+ */
	background: linear-gradient(top,  #ffdc66 0%,#ffbe36 75%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc66', endColorstr='#ffbe36',GradientType=0 ); /* IE6-9 */
}

/*** Klip it button promo page ***/

.klip-btn-promo {
	float: left;
	width: 470px;
	
}

.klip-btn-promo h2 {
	font: bold 30px Arial, Helvetica, sans-serif;
	color: #333;
		
}

.klip-btn-promo .content-divider {
	margin: 20px 0;
	
}

.klip-btn-promo .klip-btn-promo-description p{
	font: normal 16px Arial, Helvetica, sans-serif;
	color: #555;
	margin: 15px 0;
	line-height: 26px;
	
}



.klip-btn-promo .klip-btn-promo-description ol li {
	display: list-item;
	list-style: decimal;
	padding: 10px 0;
	width: 440px;
	margin-left: 30px;
	color: #555;
	font: normal italic 14px Arial, Helvetica, sans-serif;
	line-height: 22px;
}

.klip-btn-promo .klipt-btn-browser {
	padding: 20px 0;
	
}

.klip-btn-promo .klipt-btn-browser a.btn-drag {
	padding: 15px 0;
	text-align: center;
	width: 110px;
	color: #888;
	font-weight: bold;
	border: dashed 3px #aaa;
	margin-left: 180px;
	display: block;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
}

.klip-btn-promo .klipt-btn-browser a.btn-drag:hover,
.klip-btn-promo .klipt-btn-browser a.btn-drag:active {
	box-shadow: 0 0 25px #ecd87a;
	background: #ffea88;
	border: solid 3px #ddca6f;
	color: #5a522c;
	
}

.klip-btn-promo span.hw-text {
	width: 100%;
	height: 30px;
	background: url(handwritten-texts.png) top center no-repeat;
	display: block;
	margin-top: 30px;
	
}


.klip-btn-promo .klipt-btn-websites {
	background: #fff;
	padding: 30px;
	border: solid 1px #ccc;
	box-shadow: 0 0 5px #ddd;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.klip-btn-promo .klipt-btn-websites form label {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #333;
	float: left;
	
}

.klip-btn-promo .klipt-btn-websites form input {
	padding: 8px;
	border: solid 1px #bbb;
	box-shadow:inset 0 0 5px #e8e8e8;
	color: #333;
	width: 392px;	
	margin-top: 10px;
	margin-bottom: 30px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	font: 14px Arial, Helvetica, sans-serif;
	
}

.klip-btn-promo .klipt-btn-websites form select {
	padding: 8px;
	border: solid 1px #bbb;
	box-shadow:inset 0 0 5px #e8e8e8;
	color: #333;
	width: 250px;	
	margin-top: -12px;
	float: right;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	font: 14px Arial, Helvetica, sans-serif;
	
}

.klip-btn-promo .klipt-btn-websites .klip-button-styles {
	float: left;
	padding: 15px;
	width: 380px;
	margin-top: 20px;
	background: #f3f3f3;
	border: dashed 1px #bbb;
	
}

.klip-btn-promo .klipt-btn-websites .klip-button-styles .style-block {
	width: 120px;
	float: left;
	margin-left: 10px;
	
	
}

.klip-btn-promo .klipt-btn-websites .klip-button-styles .style-block h3 {
	width: 100%;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #888;
	margin-bottom: 10px;
	
}
/** Styling klip it buttons **/

a.klip-btn {
	text-indent: -9999px;
	width: 80px;
	height: 24px;
	display: block;
	float: left;
	
	background:url(klipit-btn-promotion.png) center top no-repeat;
	
}

a.klip-btn:hover {
	background-position: bottom;
	
}

.klip-btn-counter{
	background: #fff;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #666;
	border: solid 1px #909090;
	box-shadow: 0 1px 2px rgba(0,0,0,0.2);
	position: relative;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

div.klip-btn-hcount .klip-btn-counter{
	float: left;
	padding: 4px 6px;	
	margin-left: 8px;
}

div.klip-btn-hcount .klip-btn-counter i {
	width: 6px;
	height: 8px;
	background:url(hcount-box-a.png) center top no-repeat;
	display: block;
	position: absolute;
	left: -6px;
	top: 50%;
	margin-top: -3px;
	
}

div.klip-btn-vcount .klip-btn-counter{
	float: left;
	padding: 4px 0;	
	margin-bottom: 10px;
	width: 70px;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
}

div.klip-btn-vcount .klip-btn-counter i {
	width: 6px;
	height: 8px;
	background:url(vcount-box-a.png) center top no-repeat;
	display: block;
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -3px;
	
}

/** Code output box **/

.klip-btn-promo .klip-code-output {
	background: #fff5c6;
	padding: 30px;
	border: dashed 1px #bab189;
	margin-top: 15px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
}

.klip-btn-promo .klip-code-output form input {
	float: left;
	
}

.klip-btn-promo .klip-code-output form label {
	font: bold 14px Arial, Helvetica, sans-serif;
	color: #464335;
	margin: 2px 15px 0 0;
	float:left;
}

.klip-btn-promo .klip-code-output form textarea {
	padding: 8px;
	border: solid 1px #bbb;
	box-shadow:inset 0 0 5px #e8e8e8;
	color: #333;
	width: 392px;	
	height: 100px;
	resize: none;
	margin-top: 15px;
	margin-bottom: 15px;
	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	font: 14px Arial, Helvetica, sans-serif;
	
}

/* header klipt promo button */
#header a.klip-btn-h {
  text-indent: -9999px;
  width:80px;
  height:24px;
  display:block;
  float:right;
  margin:16px 40px 0 0;
  background: url(klipit-btn-promotion.png) center top no-repeat;
}

